body {
    font-family: Arial, sans-serif;
    background: #aca19b;
    padding: 20px;
}

.page-border {
    border: 8px solid #200505;       
    border-radius: 30px;          
    padding: 30px;                
    background: #fff;             
    max-width: 900px;             
    margin: auto;                 
    box-shadow: 0 0 20px rgba(0,0,0,0.2); 
}



.title {
    text-align: center;
    margin-bottom: 30px;
}


.back-btn {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 15px;
    background: #2f0909;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
}

.back-btn:hover {
    background: #391a1a;
}


.cart-container {
    max-width: 600px;
    margin: auto;
}

.cart-item input[type="number"] {
    width: 60px;
    padding: 5px;
    margin-right: 10px;
}


.cart-item {
    background: rgb(57, 23, 23);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.cart-item button {
    padding: 8px 12px;
    background: rgb(56, 13, 21);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.cart-item button:hover {
    background: #3f1313;
}


hr {
    border: 0.5px solid #ddd;
}


#total {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}


.payment-btn {
    display: block;
    width: 200px;
    margin: 20px auto 0 auto;
    padding: 10px;
    background: #070a39;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
}

.payment-btn:hover {
    background: #5c2222;
}
