body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.navbar {
  background: linear-gradient(to right, #3a547c, #6a6649);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-family: Georgia, serif;
}

.nav-links a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.nav-links a:hover {
  color: black;
}

.hero {
  height: 380px;
  background: url("Photos/pexels-photo-256541.jpeg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  text-shadow: 0 0 10px black;
}

.hero h1 {
  font-size: 50px;
  margin: 0;
}

.hero p {
  font-size: 20px;
  margin: 10px 0;
}

.hero-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 25px;
  background: #3a547c;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
}

.hero-btn:hover {
  background: #000;
}

.section-title {
  text-align: center;
  margin-top: 40px;
  font-size: 32px;
  font-weight: bold;
  font-family: Georgia, serif;
}

.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 40px;
}

.cat-card {
  background: white;
  padding: 25px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  transition: 0.4s;
}

.cat-card i {
  font-size: 40px;
  margin-bottom: 10px;
}

.cat-card:hover {
  transform: scale(1.05);
}

.books {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 40px;
}

.book-card {
  background: white;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  transition: 0.4s;
}

.book-card img {
  width: 100%;
  height: 250px;         
  object-fit: cover;      
  border-radius: 6px;
  background-color: #e0e0e0; 
  transition: transform 0.3s ease;
}

.book-card:hover img {
  transform: scale(1.05);
}

.why-us {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 30px;
}

.feature {
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.feature i {
  font-size: 35px;
  margin-bottom: 10px;
}

.footer {
  background: linear-gradient(to right, #3a547c, #6a6649);
  padding: 20px;
  text-align: center;
  color: white;
}

.footer input {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.footer button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background: #3a547c;
  color: white;
}

.footer button:hover {
  background: #000;
}
