body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.navbar {
  background: linear-gradient(to right, #3a547c, #6a6649);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.cart-link {
  position: relative;
  color: white;
  font-size: 22px;
}

#cart-count {
  position: absolute;
  top: -10px;
  right: -12px;
  background: red;
  padding: 3px 7px;
  border-radius: 50%;
  font-size: 12px;
  color: white;
}

.title {
  margin-top: 20px;
  text-align: center;
}

.cat-title {
  margin-left: 30px;
  margin-top: 40px;
  font-size: 28px;
  font-weight: bold;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 30px;
}

.book-card {
  background: white;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  text-align: center;
  position: relative;
  transition: 0.3s;
}

.book-card img {
  width: 100%;
  height: 250px;         
  object-fit: cover;
  border-radius: 6px;
  background-color: #e0e0e0; 
  transition: transform 0.3s ease;
}

.book-card:hover img {
  transform: scale(1.05);
}

.add-btn {
  display: none;
  margin-top: 10px;
  background: #3a547c;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
}

.book-card:hover .add-btn {
  display: block;
}

.book-card:hover {
  transform: scale(1.05);
}
